body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #ffffff url('bac.webp');
    background-color: #ecf0f1;
    margin: 0;
    text-align: center;
}

h1 {
    color: #3498db;
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 24px;
    border: 2px solid #3498db;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

#pscore, #ascore {
    margin-top: 10px;
    color: #3498db;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.cell:hover {
    background-color: #2980b9;
}

#result {
    margin-top: 20px;
    font-size: larger;
    color: #333;
    background-color: #ecf0f1;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

#result.show {
    opacity: 1;
}

#result:contains('tie') {
    font-weight: bold;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

#instructions {
    background: #ffffff url('bac.webp');
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    text-align: center;
}

#instructions h2 {
    color: #3498db;
}

#instructions p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 10px;
}

ul {
    display: inline;
}

#pscore, #ascore {
    display: inline;
    color: #000000;
    margin: 0 15px;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
}

.balloon {
    width: 70px;
    height: 80px;
    background-color: #f00;
    border-radius: 50%;
    position: absolute;
    animation: floatUp 6s linear;
}

@keyframes floatUp {
    to {
        transform: translateY(-1500px);
        opacity: 0;
    }
}

footer {
    background-color: #050303;
    color: #fff;
}

h3 {
    text-align: center;
    font-size: larger;
}

.cell i {
    font-size: 2em;
    color: #333;
}
